
extends layout

head
    title Table Style
  body
    .table-title
      h3 Data Table
    table.table-fill
      thead
        tr
          th.text-left Name&fullName
          th.text-left Genre
          th.text-left Email
          th.text-left Address
          th.text-left Tel
          th.text-left Professionelle
          th.text-left CV(Option)
      tbody.table-hover
        tr
          td.text-left Lee Van Dat
          td.text-left Homme
          td.text-left sadasd@yahoo.com
          td.text-left 1223213
          td.text-left prooo
          td.text-left nope
          td.text-left nope
        tr
          td.text-left February
          td.text-left $ 10,000.00
