extends layout
.body-1
.grad
.header
  div
    | Site
    span Random
br
.login
  input(type='text', placeholder='username', name='user')
  br
  input(type='password', placeholder='password', name='password')
  br
  input(type='button', value='Login')