doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Success d'inscription
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='UTF-8')
    meta(name='google', value='notranslate')
    meta(http-equiv='Content-Language', content='en_US')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include ../public/stylesheets/style.css
    
  body(style="  margin:0;\
  padding:0;\
  height:100vh;\
  overflow:hidden;\
  text-align:center;\
  font-family: 'Roboto', sans-serif;\
  background:#f7f7f7;")
    .thank-you-wrapper
      .check-mark-block
        .check-mark-wrapper
          span
          span
      h3 Merci de votre inscription !
      p Nous vous répondrons dans les plus brefs délais.
      hr
      p
        | Maintenance vous pouvez fermer cet onglet.
        br
        | #GlobeDreamers l'équipe